<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>

        <!--     <link rel="stylesheet" href=" https://code.jquery.com/jquery-3.3.1.js"/>
             <link rel="stylesheet" href=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"/>
             <link rel="stylesheet" href=" https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"/>
        -->

<!--        <link rel="stylesheet" href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css"/>-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="azp.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
        <script type="text/javascript" src="loadTable.js"></script>



        

        <title>Tabeli</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="jumbotron table">

      
    <center>
        <div><B>REVIEW</B></div>
    </center>

    <table id="preglediTable" class="azpTable  table table-bordered  table-hover">


        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>DOCTOR</th>
                <th>SPECIALIZATION</th>
                <th>SCHEDULES</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tr>
            <td>6</td>
            <td>Bojan Danailov</td>
            <td>Cardio</td>
            <td>No Available</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Gligor Dimitrov</td>
            <td>/</td>
            <td>/</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Ivanka Stefanovska</td>
            <td>Stomatologija</td>
            <td>Mihaela Petrovska 13:00</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Bijanka Cacev Spancevska</td>
            <td>Nervologija/Toksikologija</td>
            <td>Stefan Stankovski, 12:00</td>

        </tr>
        <tr>
            <td>8</td>
            <td>Snezana Bozinovska</td>
            <td>/</td>
            <td>/</td>
        </tr>

    </table>

    <a href="http://localhost:8080/" class="btn btn-primary">Back to Home Page</a>


</body>
</html>
