<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <head>
          <title>Pregledi</title>
        <link rel="stylesheet" href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="azp.css"/>
        
        
        
                   <body class="bg2">
        <title>Lista na predmeti</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div class="formElement"></div>
    <center>
        <h2></h2>
    </center>
    
    
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div> /input-group 
        </div> /.col-lg-6 
    /.row 
</body>
</html>


