<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>

        <link rel="stylesheet" href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="azp.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script type="text/javascript" src="loadPregledView.js"></script>



        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"/>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>


        <title>Podatoci na Pacientot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <!--     <body class="jumbotron table">-->

    <body>

        <div class="container">
            <div class="page-header">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 id="doctorExamDetails"> Ime/prezime na doktor, specijalizacija, data na pregledot</h4>

                    </div>

                </div>


            </div>
            <div class="row grid-divider">
                <div class="col-sm-4">
                    <div class="col-padding">


                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4>Patient's Details</h4>

                            </div>

                        </div>



                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Name and Surname</h3>
                            </div>
                            <div class="panel-body">
                                <i id="pacientImePrezime"> ime i prezime</i>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Date of Birth</h3>
                            </div>
                            <div class="panel-body">
                                <i id="dateOfBirth"> Data za raganje</i>
                            </div>
                        </div>

                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">Address</h3>
                            </div>
                            <div class="panel-body">
                                <i id="address"> Address</i>
                            </div>
                        </div>

                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">SocialNumber</h3>
                            </div>
                            <div class="panel-body">
                                <i id="SocialNo">SocialNumber</i>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-padding">




                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4>Symptoms</h4>

                            </div>
                            <div class="panel-body">

                                <textarea id="simpt" name="Simptomi"
                                          rows="20" style="width: 100%"></textarea>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-padding">


                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                     <h4>Checkups and Comments</h4>
                               

                            </div>
                            <div class="panel-body">

                                <select id="izvrsenipreg" multiple="true" class="form-control" placeholder="Izvrseni Pregledi" aria-describedby="basic-addon1">
                                </select>
                                <hr/>
                                <label for="comm">Comments</label>
                                <textarea id="comm" name="Komentari"
                                          rows="18" style="width: 100%"></textarea>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


        <nav aria-label="...">
            <ul class="pager">
                <li><a href="http://localhost:8080/pregledtable">Previous</a></li>            
                <li><a onclick="zacuvajPregled()">Save</a></li>
            </ul>
        </nav>
        
 

    </body>
</html>
